/*************************************
This css file includes several different formatting examples
GENERAL
https://fonts.google.com/specimen/Pacifico#license
Images should be 1x1 ratio to display correctly
**************************************/


body {
    background-color: lightseagreen;
    color: #000;
}

h1 {
    margin: 20px 20px;
    font-size: 1.75em;
    font-weight: normal;
    line-height: .5;
    text-align: center;
    color: #101884;

    padding: 2px 0 0 0;

}

h2 {
    font-size: 1.00em;
    font-weight: normal;
    margin: 10px 20px;
    color: #101884;
    text-align: center;
    padding: 6px 0 0 0;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkseagreen;
    color: #101884;
    text-align: center;
}

.row {
  height: 40vh;
  margin-bottom: 2px;
  font-size: 12px;
  text-align: center;
    line-height: 10vh;
}



/* Equal-height card images, cf. https://stackoverflow.com/a/47698201/1375163*/
.card-img-top {
    /*height: 11vw;*/
    width: 100%;
    flex-grow: 1;
    object-fit:contain;
}
  /* Small devices (landscape phones, 360px and up) */
  @media (min-width: 360px) {
    .card-img-top {
        height: 22vw;
    }
  }
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .card-img-top {
        height: 19vw;
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .card-img-top {
        height: 16vw;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 11vw;
    }
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 11vw;
    }
  }


.card-body{
    flex-grow:0;
}

